<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>SuperFreeze | Home</title>

  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="css/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="css/AdminLTE.min.css">
  <link rel="stylesheet" href="css/_all-skins.min.css">

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="/index" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>S</b>F</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Super</b>Freeze</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="hidden-xs">Admin</span>
            </a>
            <ul class="dropdown-menu">
              <!-- Menu Footer-->
              <li class="user-footer">
                <a href="#" class="btn btn-default btn-flat">Sign out</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree" id="Freezer_menu">
        <li class="header">NAVIGATION</li>
        <!-- Menu Jonas -->
        <div id="menu_div">
        <%
        // counting results
        var freezerCount;
        var shelfCount;
        // resultsets

        var freezerResult = ["a","b","c","d"];
        var shelfResult;

        var freezerName;
        var shelfName;

        var html;

        //freezerCount = freezerResult.length;

        //for (i = 0; i < freezerCount; i++) {
        for (i = 0; i < 2; i++) {
            //freezerName = freezerResult[i].name;
            html += "<li class='treeview'>";
            //html += "<a href='#'><span> " + freezerName + "</span>";
            html += "<span class='pull-right-container'>";
            html += "<i class='fa fa-angle-left pull-right'>";
            html += "</i></span></a>";

            html += "<ul class='treeview-menu'>";
            html += "<li class='treeview'>";
            html += "<a href='#'>Configuration<span class='pull-right-container'>";
            html += "<i class='fa fa-angle-left pull-right'></i></span></a>";
            html += "<ul class='treeview-menu'>";

            var shelfSQL = "SELECT * FROM shelf WHERE Freezer_id = " + freezerResult[i].id;

            for (i = 0; i < shelfCount; i++) {
                // TODO shelfName = "1";
                html += "<li><a href='#'> " + shelfName + "</a></li>";
            }

            html += "<li><a href='#'><i class='fa fa-plus'></i> Create Shelf</a></li></ul></li>";
            html += "<li><a href='#'> Products</a></li></ul></li>";
        }
        %>
        <%- html %>
        <li class="header">Add Freezer</li>
        <li class="bg-green"><a href="/addFreezer" style="background-color: rgb(0, 166, 90);"><i class="fa fa-plus" style="color: rgb(255, 255, 255);"></i><span style="color: rgb(255, 255, 255);">Create new</span></a></li>
    </ul>
    </div>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Main row -->
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="row text-center">
            <h1>Herzlich Willkommen <i class="fa fa-heart"></i></h1>
          </div>
        </div>
      </div>
      <!-- /.row (main row) -->
    </section>
    <!-- /.content -->
  </div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="js/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="js/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.7 -->
<script src="js/bootstrap.min.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="js/bootstrap3-wysihtml5.all.min.js"></script>
<!-- Slimscroll -->
<script src="js/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="js/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="js/adminlte.min.js"></script>
</body>
</html>
